<!DOCTYPE html>
<html lang="en">
<head>

    <title>Title</title>
    <style>
        #a{
            color: blue;
            font-size:58px;
        }
        #b{
            color: orangered;
            font-family:Verdana;
        }
    </style>
</head>
<body>
    <div align="center" style="background-color:paleturquoise ;width: 100%" >
        <div id="a">ACTIVE LEARNING</div>
        <div id="b"><p>Rise more with every Shine</p></div>
    </div>

{% block common %}
{% endblock %}
<div align="center" style="background-color: cornflowerblue;color: darkred;font-family: 'Bell MT' ;border-radius: 23px">Copyright @ Bapuji ISO2008</div>
</body>
</html>