{% extends 'common.html' %}
{% load static %}
{% block common %}
      {% include 'student_after_login_menu.html'%}
    <h2 align="center">Welcome <a href="#">{{ cno }}</a></h2>
    <hr width="700" color="red">

    <br>
    <table align="center" width="500" style="height: 200px">

    <tr style="border: 2px; font-family: 'Candara Light';background-color:skyblue" >
        <th>Subject</th>
        <th>Faculty Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Price</th>
        <th>Duration(Hrs)</th>
        <th>Enroll</th>
        </tr>
    <tr></tr>

        {% for x in classes   %}
            <tr style="font-family:'Goudy Old Style'"><th>{{ x.name }}</th>
                <th>{{x.faculty}}</th>
                <th>{{x.date}}</th>
                <th>{{x.time}}</th>
                <th>{{ x.price }}</th>
                <th>{{x.duration}} Days</th>
                 <th><a href="{% url 'e_roll' %}?cno={{ cno }}"><img src="{% static 'images/enrollment (2).png' %}" width="20" height="20"></a></th></tr>

    {% endfor %}
    </table>
    <br>
{% endblock %}