{% extends 'common.html' %}

{% block common %}
      {% include 'student_after_login_menu.html'%}
<br>
    <h2 align="center"> Welcome  To Your Profile</h2>
    <hr width="700">
<table align="center" style="font-family:'Roboto Thin'">
  {% for x in details %}
        <th>
        <div class="card bg-danger text-white" style="width: 18rem;">

  <div class="card-body">{{ x.stu_name }}
    <h5 class="card-title">{{x.contact}}</h5>
    <p class="card-text">{{ x.email }}</p>
  </div>
</div>
        </th>
{% endfor %}
</table>
    <br>


{% endblock %}