<table align="center" width="100%" style="font-family: Stencil;background-color: greenyellow;
color:orangered;border-radius: 34px;height: 34px">
            <tr>
            <th style="padding-right:167px"><a href="{% url 'st_register' %}">REGISTER</a></th>
                <th style="padding-right:167px"><a href="{% url 'st_login' %}">LOGIN</a></th>
                <th style="padding-right:67px"><a href="#">SEARCH</a></th>
                <th style="padding-right:67px"><a href="#">CONTACT US</a></th>
            </tr>
        </table>