

<table align="center" width="100%" style="font-family: Stencil;background-color: greenyellow;
color:orangered;border-radius: 34px;height: 34px">
            <tr>
            <th style="padding-right:167px"><a href="{% url 'enroll' %}?cno={{ cont }}">ENROLL THE COURSES</a></th>
                <th style="padding-right:167px"><a href="{% url 'viewallclass' %}">VIEW ENROLL COURSES</a></th>
                <th style="padding-right:67px"><a href="{% url 'home' %}">LOGOUT</a></th>
            </tr>
        </table>